
.season {
    position: relative
}
.season .text {
  position: absolute;
  top: 92px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.season > img {
  width: 100%;
  max-height: 340px;
}
.season .text > h2 {
  font-size: 57px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #fff
}
.season .text > h3 {
  color: #dbdbdb;
  font-family: "Roboto",sans-serif;
  font-size: 33px;
  font-weight: 400;
}
.season .ovearlay {
  position: absolute;
  width: 100%;
  height: 100%;
    background: red;
    top: 0;
    background: rgba(39,38,34,.5)
}
.yyyy{
  margin: 1px;
  
}